.housemoreinfo {
  position: relative;
  padding: 0.1rem 0.3rem 0.5rem;
  font-size: 0.24rem;
  line-height: 0.5rem;
  color: #333;
  .titleh2 {
    font-size: 0.36rem;
    line-height: 0.6rem;
    margin-top: 0.2rem;
    font-weight: normal;
  }
  .jibeninfo {
    position: relative;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid #dcdcdc;
    p {
      color: #666;
      font-size: 0.24rem !important;
    }
    span {
      font-size: 0.24rem !important;
    }
  }
  .infobox {
    position: relative;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid #dcdcdc;
  }
  .infobox:nth-last-child(1) {
    border-bottom: 0;
  }
}
.housemoreinfo {
  p {
    color: #666;
    font-size: 0.24rem !important;
  }
  span {
    font-size: 0.24rem !important;
  }
}